
  body{

    color: white;
    background-color: black;
  }
    
  .top-section{
    display: flex;
    justify-content: center;
    min-height: 250px;
    background-color: rgb(126, 220, 220);
  }
    
  .bottom-section{
    display: flex;
    justify-content: space-evenly;
    min-height: 250px;
    padding: 5px;
  }
    
  article{
    max-width: 250px;
    max-height: 500px;
    padding: 5px;
  }

  .color-1{
    background-color: rgb(124, 168, 255);
  }

  .color-2{
    background-color: orange;
  }

  .color-3{
    background-color: rgb(126, 220, 220);
  }



@media (max-width: 576px) {
  body{
    color: black;
    background-color: white;
  }
    
  .top-section{
    background-color: rgb(124, 168, 255);
  }
    
  .bottom-section{
    margin: auto;
    padding: 5px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
  }
    
  article{
    padding: 5px;
  }

  .color-1{
    background-color: rgb(124, 168, 255);
  }

  .color-2{
    background-color: orange;
  }

  .color-3{
    background-color: rgb(126, 220, 220);
  }
}